body{
	background: #EFEFBB;
	background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
	color: white;
	margin: 0;
	font-family: rubik;
}
.container {
    padding: 40px;
    padding-top: 0;
	margin: 0 auto;
    max-width: 900px;
}
.search-tab{
    margin-top: 50px;
}
.bigFrame{
    background-color: white;
    color: #4BAB94;
    border-radius: 15px;
    min-height: 500px;
    padding: 20px;
    position: relative;
}
.titleContainer{
    text-align: center;
    color: #666;
    background-color: #4BAB94;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}
.titleContainer h1{
    margin: 0;
    color: white;
	text-transform: capitalize;
	font-size: 38px;
	font-weight: normal;
	position: relative;
	z-index: 2;
    text-align: center;
    font-weight: 600;
}
.titleContainer .typesDescription{
    color: white;
    text-transform: capitalize;
}
.imageContainer{
    position: relative;
    width: 100%;
    text-align: center;
}
.imageContainer::before{
    position: absolute;
    left: 32%;
    top: 15%;
    content: "";
    width: 35%;
    height: 65%;
    border-radius: 100%;
    background-color: white;
    opacity: .7;
	z-index: 1;
}
.card-image {
    position: relative;
    height: 200px;
    margin: 5px auto;
    z-index: 2;
}
.card-image:hover{
    animation: bounce 0.5s linear;
}
.card{
    color: #666;
    text-transform: capitalize;
    margin: 15px auto;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}
.card h1{
    background-color: #4BAB94;
    border-radius: 15px;
    box-sizing: border-box;
    margin-top: 0;
    padding: 10px;
    color: white;
}
.card .elementTitle{
    color: #4BAB94;
    font-weight: 600;
}
.card table{
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}
.card table th{
    background-color: #4BAB94;
    color: white;
}
.card table th,td{
    padding: 5px;
}
.card table tr{
    background-color: white;
}
.card table tr:nth-child(odd){
    background-color: #d3d0d0;
}
.pokemonDescription{
    text-align: justify;
    min-height: 60px;
    border: #4BAB94 solid 1px;
    border-radius: 10px;
    padding: 10px;
}
.miniCardsArea{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.miniCard{
    flex-grow: 1;
    min-width: 100px;
    width: 30%;
    background-color: white;
    border-radius: 10px;
}
.miniTitle{
    top: 5px;
    left: 5px;
    color: white;
    background-color: #4BAB94;
    padding: 5px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.miniContent{
    padding: 5px;
    text-align: center;
    min-height: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #4BAB94;
    border-top: none;
    overflow-wrap: break-word;
}
.evoMiniTitle{
    color: white;
    background-color: #4BAB94;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}
.evoMiniContent{
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.pokeMiniCard{
    width: 33%;
}
.pokeMiniCard:hover{
    animation: bounce 0.5s;
}
.pokeCardTitle{
    background-color: #4BAB94;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    padding: 5px;
}
.pokeCardContent{
    background-color: white;
    border: 1px solid #4BAB94;
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



.normal{
    background-color: rgb(240, 240, 240);
}
.dark{
	background-color: #c8c8d3;
}
.ghost {
	background-color: #e9d3ff;
}
.steel {
	background-color: #f4f4f4;
}

.fire {
	background-color: #FDDFDF;
}

.grass {
	background-color: #DEFDE0;
}

.electric {
	background-color: #FCF7DE;
}

.water, .ice {
	background-color: #DEF3FD;
}

.ground {
	background-color: #f4e7da;
}

.rock {
	background-color: #d5d5d4;
}

.fairy {
	background-color: #fceaff;
}

.poison {
	background-color: #98d7a5;
}

.bug {
	background-color: #f8d5a3;
}

.dragon {
	background-color: #97b3e6;
}

.psychic {
	background-color: #eaeda1;
}

.flying {
	background-color: #F5F5F5;
}

.fighting {
	background-color: #E6E0D4;
}

.errorScreenContainer{
    background-color: white;
    color: red;
    border: 3px solid #4BAB94;
    border-radius: 15px;
    min-height: 50px;
    padding: 15px;
    max-width: 400px;
    margin: 0 auto;

}
.errorScreenContainer{
    color: #666;
}
.errorScreenContainer p span{
    color: red;
}

@media screen and (max-width: 800px){
    .container{
        padding: 5px;
    }
}
@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}