.buttons-container{
    margin: 15px auto;
    text-align: center;
}
button{
    margin: 0 7px;
    border: #FFFFFF 3px solid;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #4BAB94;
    font-weight: 700;
    font-size: 2em;
    transition: .2s;
}
button:hover{
    background-color: #4BAB94;
    color: white;
    cursor: pointer;
}

#pages-lista{
    color: #4BAB94;
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    max-width: 80%;
    margin: 15px auto;
}
#pages-lista .element-page-style{
    border: #4BAB94 2px solid;
    color: #4BAB94;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    margin: 5px auto;
    cursor: pointer;
}
#pages-lista span:hover{
    background-color: #c6fff2;
}
#pages-lista #actual-page{
    background-color: #4BAB94;
    color: white;
}